@import './grid/variables';
@import './grid/mixin';

*, *:after, *:before {
  margin: 0;
  padding: 0;
  @include border-box;
}

span {
  display: block;
  background: #ffb283;
  padding: 1em 0;
  text-align: center;
}


.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  text-align: center;
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}